/* styles.css */
body {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212; /* Dark background for the whole page */
    color: #e0e0e0; /* Light text color for better contrast */
}

header {
    background-color: #7e24ab; /* Purplish color for the header */
    color: #e0e0e0;
    padding: 1rem; /* Reduced padding to half the original size */
    text-align: center;
}

nav {
    background-color: #9595e0;
    color: #e0e0e0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: #2e2e2e; /* Lighter dark background for sections */
    padding: 2rem;
    border-radius: 8px;
}

/* Center-align content of the Apps section */
section#apps {
    text-align: center; /* Center-align text content */
}

section#apps img,
section#apps iframe {
    display: block;
    margin: 0 auto; /* Center-align image and iframe */
}

section a {
    color: #e0e0e0; /* Default link color */
    text-decoration: none;
}

section a:hover,
section a:focus {
    text-decoration: underline;
}

/* Specific link colors */
section#apps a[href*="instagram.com"] {
    color: #ff5722; /* Color for Instagram link */
}

section#apps a[href*="itch.io"] {
    color: #e91e63; /* Color for itch.io link */
}

/* Hover effects for specific links */
section#apps a[href*="instagram.com"]:hover {
    color: #ff3d00; /* Darker color on hover for Instagram link */
}

section#apps a[href*="itch.io"]:hover {
    color: #d81b60; /* Darker color on hover for itch.io link */
}

footer {
    background-color: #9595e0; /* Purplish color for the footer */
    color: #e0e0e0;
    text-align: center;
    padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

